.haeder-section {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.cta-btns button:nth-child(1){
    background-color: #6c63ff;
    color: #fff;
}
.cta-btns button:nth-child(2){
    color: #6c63ff;
    border-color: #6c63ff;
}
.cta-btns button:nth-child(2):hover{
    background-color: #6c63ff;
    color: #fff;
}
.hero_yoga{
    width: 90%;
    margin: 0 auto;
}
.yoga_right{
 padding: 10px;
 width: 50%;
}
.yoga_left{
    width: 50%;
    
}
.yoga_left img{
    width: 100%;
    height: 100%;
}

.yoga_button{
    background-color: #6c63ff;
}
