.relative {
  position: relative;
  background-color: #ffaa3a;
  width: fit-content;
}
.fixed{
    background-color: #ffaa3a;
}
.relative2{
    position: relative;
    border: 2px solid black;
    width: 400px;
    height: 130px;
}
.absolute{
    position: absolute;
    top: 150px;
    left: 40px;
    border: 5px solid rgb(255, 0, 0);
}